extends layout


block content

    div(class="card")
        div(class="card-header")
            h5(class="card-title") Tobias Wehrle
        div(class="card-body")
            p(class="card-text")
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum animi voluptatibus rem natus laudantium voluptate impedit. Tenetur culpa, reprehenderit iure modi quibusdam molestiae accusantium, nam libero maxime nemo sunt natus?
            p(class="card-text")
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aperiam tenetur impedit exercitationem? Ipsum, beatae quo. Laudantium fugit consectetur debitis dolorem eligendi. Fuga ut similique consequatur laborum facilis maiores harum!