extends layout

block scripts 
    link(rel="stylesheet", href="stylesheets/about.css")


block content

    section#team 
        .container.my-3.py-5.text-center 
            .row.mb-5 
                .col 
                    h1 Unser Team 
                    p.mt-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero assumenda quaerat placeat vero aspernatur tenetur, corrupti laborum, accusamus minima ipsam dolores alias explicabo. Dolore velit perspiciatis ducimus cum neque minus?
            .row
                .col-md-6 
                    .card 
                        .card-body 
                            img(src="" alt="" class="img-fluid rounded-circle w-50 mb-3")
                            h3 Andrei Nagel 
                            h5 agile lead consultant officer
                            h6 Über mich:
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi sint praesentium autem laudantium incidunt laborum corrupti nam voluptatibus? Ipsum!
                            h6 Interessen
                            p Lorem, ipsum dolor.
                            p Lorem, ipsum dolor.
                            p Lorem, ipsum dolor.
                            .d-flex.flex-row.justify-content-center 
                                .p-4 
                                    a(href="#")
                                        i.fa.fa-facebook
                                .p-4 
                                    a(href="#")
                                        i.fa.fa-twitter
                                .p-4 
                                    a(href="#")
                                        i.fa.fa-github
                            blockquote.blockquote Nachts ist es kälter aus drausen
                                i.fa-regular.fa-face-grimace
                .col-md-6 
                    .card 
                        .card-body 
                            img(src="images/tobiwobi.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3")
                            h3 Tobias Wehrle
                            h5 agile lead consultant officer
                            h6 Über mich:
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi sint praesentium autem laudantium incidunt laborum corrupti nam voluptatibus? Ipsum!
                            h6 Interessen
                            p Lorem, ipsum dolor.
                            p Lorem, ipsum dolor.
                            p Lorem, ipsum dolor.
                            .d-flex.flex-row.justify-content-center 
                                .p-4 
                                    a(href="#")
                                        i.fa.fa-facebook
                                .p-4 
                                    a(href="#")
                                        i.fa.fa-twitter
                                .p-4 
                                    a(href="#")
                                        i.fa.fa-github
                            blockquote.blockquote Nachts ist es kälter aus drausen
                                i.fa-regular.fa-face-grimace