extends layout

block scripts 

block content
    <div class="row">
        <nav id="ihvz" class="col-4 sticky-top">
            <header class="navbar-header">
                <h1>Inhaltsverzeichnis</h1>
            </header>
            <div class="nav-links">
                <a href="#intro" class="link">Einleitung</a>
                <a href="#node" class="link">Node</a>
                <a href="#express" class="link">Express</a>
                <a href="#sequelize" class="link">Sequelize</a>
                <a href="#pug" class="link">Pug</a>
                <a href="#challenges" class="link">Herausforderungen</a>
                <a href="#learnings" class="link">Lernziele</a>
            </div>
        </nav>

        <div class="docs col-8">
            <div class="main-section" id="intro">
                <h1>Einleitung</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui deserunt, laboriosam enim id tempore ex nihil repellat voluptatem ullam incidunt perferendis eveniet sint veniam atque! Vel, deleniti nobis officiis eius ab odio commodi laudantium sit, sint dolor molestias reiciendis, tempore earum pariatur dolores similique nulla voluptatum. Natus deserunt id, illum sapiente facilis recusandae ipsum fugit, nam blanditiis, dolorem quas maxime doloribus consequuntur unde voluptates. Doloremque eligendi quaerat aspernatur fuga voluptatum eos expedita itaque nemo, praesentium dolorem sequi error ab asperiores ipsa natus animi accusantium magni. Distinctio in atque nemo, hic reiciendis id quasi nobis, consectetur, qui vitae dolore ipsum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odit recusandae esse sunt. Nemo hic nobis obcaecati, sunt laudantium quibusdam quam eligendi dignissimos accusantium odit cumque recusandae, tempore eos. Laudantium, eius. Nisi magni at, explicabo est modi sed praesentium dolorum tempore molestiae nam ad aut ipsam provident saepe hic sint recusandae ea dolore, accusamus quisquam? Porro suscipit perferendis eligendi quasi dicta tenetur provident unde nemo aliquid facilis? Vitae labore accusamus adipisci ducimus rem cupiditate quod soluta error molestiae exercitationem, sequi magni corrupti, tempora sed ratione. Repellendus blanditiis veritatis nobis. Eum voluptate nesciunt error a distinctio beatae corrupti impedit, suscipit officia.</p>
            </div>
            <div class="main-section" id="node">
                <h1>Node</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui deserunt, laboriosam enim id tempore ex nihil repellat voluptatem ullam incidunt perferendis eveniet sint veniam atque! Vel, deleniti nobis officiis eius ab odio commodi laudantium sit, sint dolor molestias reiciendis, tempore earum pariatur dolores similique nulla voluptatum. Natus deserunt id, illum sapiente facilis recusandae ipsum fugit, nam blanditiis, dolorem quas maxime doloribus consequuntur unde voluptates. Doloremque eligendi quaerat aspernatur fuga voluptatum eos expedita itaque nemo, praesentium dolorem sequi error ab asperiores ipsa natus animi accusantium magni. Distinctio in atque nemo, hic reiciendis id quasi nobis, consectetur, qui vitae dolore ipsum.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia impedit at laudantium? Nam quaerat omnis deleniti perferendis culpa necessitatibus doloribus numquam consectetur, dicta sunt, dolor aperiam quo totam, labore voluptatibus voluptate in? Sapiente officiis error odio impedit nisi libero animi alias, iure neque nulla asperiores tempora, dolores illo minima, cupiditate voluptatem rerum! Magnam, molestiae? Quasi nesciunt delectus exercitationem quo aspernatur vel? Labore, odit numquam, maiores expedita rem tenetur, inventore assumenda totam dolor alias possimus temporibus provident error nobis reprehenderit ea nesciunt laborum quae quidem officiis debitis commodi! Voluptatum, voluptatibus! Tempore atque incidunt beatae a veritatis id unde qui tempora in.</p>
            </div>
            <div class="main-section" id="express">
                <h1>Express</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui deserunt, laboriosam enim id tempore ex nihil repellat voluptatem ullam incidunt perferendis eveniet sint veniam atque! Vel, deleniti nobis officiis eius ab odio commodi laudantium sit, sint dolor molestias reiciendis, tempore earum pariatur dolores similique nulla voluptatum. Natus deserunt id, illum sapiente facilis recusandae ipsum fugit, nam blanditiis, dolorem quas maxime doloribus consequuntur unde voluptates. Doloremque eligendi quaerat aspernatur fuga voluptatum eos expedita itaque nemo, praesentium dolorem sequi error ab asperiores ipsa natus animi accusantium magni. Distinctio in atque nemo, hic reiciendis id quasi nobis, consectetur, qui vitae dolore ipsum.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia impedit at laudantium? Nam quaerat omnis deleniti perferendis culpa necessitatibus doloribus numquam consectetur, dicta sunt, dolor aperiam quo totam, labore voluptatibus voluptate in? Sapiente officiis error odio impedit nisi libero animi alias, iure neque nulla asperiores tempora, dolores illo minima, cupiditate voluptatem rerum! Magnam, molestiae? Quasi nesciunt delectus exercitationem quo aspernatur vel? Labore, odit numquam, maiores expedita rem tenetur, inventore assumenda totam dolor alias possimus temporibus provident error nobis reprehenderit ea nesciunt laborum quae quidem officiis debitis commodi! Voluptatum, voluptatibus! Tempore atque incidunt beatae a veritatis id unde qui tempora in.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia impedit at laudantium? Nam quaerat omnis deleniti perferendis culpa necessitatibus doloribus numquam consectetur, dicta sunt, dolor aperiam quo totam, labore voluptatibus voluptate in? Sapiente officiis error odio impedit nisi libero animi alias, iure neque nulla asperiores tempora, dolores illo minima, cupiditate voluptatem rerum! Magnam, molestiae? Quasi nesciunt delectus exercitationem quo aspernatur vel? Labore, odit numquam, maiores expedita rem tenetur, inventore assumenda totam dolor alias possimus temporibus provident error nobis reprehenderit ea nesciunt laborum quae quidem officiis debitis commodi! Voluptatum, voluptatibus! Tempore atque incidunt beatae a veritatis id unde qui tempora in.</p>

            </div>
            <div class="main-section" id="sequelize">
                <h1>Sequelize</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui deserunt, laboriosam enim id tempore ex nihil repellat voluptatem ullam incidunt perferendis eveniet sint veniam atque! Vel, deleniti nobis officiis eius ab odio commodi laudantium sit, sint dolor molestias reiciendis, tempore earum pariatur dolores similique nulla voluptatum. Natus deserunt id, illum sapiente facilis recusandae ipsum fugit, nam blanditiis, dolorem quas maxime doloribus consequuntur unde voluptates. Doloremque eligendi quaerat aspernatur fuga voluptatum eos expedita itaque nemo, praesentium dolorem sequi error ab asperiores ipsa natus animi accusantium magni. Distinctio in atque nemo, hic reiciendis id quasi nobis, consectetur, qui vitae dolore ipsum.</p>
            </div>
            <div class="main-section" id="pug">
                <h1>Pug</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui deserunt, laboriosam enim id tempore ex nihil repellat voluptatem ullam incidunt perferendis eveniet sint veniam atque! Vel, deleniti nobis officiis eius ab odio commodi laudantium sit, sint dolor molestias reiciendis, tempore earum pariatur dolores similique nulla voluptatum. Natus deserunt id, illum sapiente facilis recusandae ipsum fugit, nam blanditiis, dolorem quas maxime doloribus consequuntur unde voluptates. Doloremque eligendi quaerat aspernatur fuga voluptatum eos expedita itaque nemo, praesentium dolorem sequi error ab asperiores ipsa natus animi accusantium magni. Distinctio in atque nemo, hic reiciendis id quasi nobis, consectetur, qui vitae dolore ipsum.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia impedit at laudantium? Nam quaerat omnis deleniti perferendis culpa necessitatibus doloribus numquam consectetur, dicta sunt, dolor aperiam quo totam, labore voluptatibus voluptate in? Sapiente officiis error odio impedit nisi libero animi alias, iure neque nulla asperiores tempora, dolores illo minima, cupiditate voluptatem rerum! Magnam, molestiae? Quasi nesciunt delectus exercitationem quo aspernatur vel? Labore, odit numquam, maiores expedita rem tenetur, inventore assumenda totam dolor alias possimus temporibus provident error nobis reprehenderit ea nesciunt laborum quae quidem officiis debitis commodi! Voluptatum, voluptatibus! Tempore atque incidunt beatae a veritatis id unde qui tempora in.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia impedit at laudantium? Nam quaerat omnis deleniti perferendis culpa necessitatibus doloribus numquam consectetur, dicta sunt, dolor aperiam quo totam, labore voluptatibus voluptate in? Sapiente officiis error odio impedit nisi libero animi alias, iure neque nulla asperiores tempora, dolores illo minima, cupiditate voluptatem rerum! Magnam, molestiae? Quasi nesciunt delectus exercitationem quo aspernatur vel? Labore, odit numquam, maiores expedita rem tenetur, inventore assumenda totam dolor alias possimus temporibus provident error nobis reprehenderit ea nesciunt laborum quae quidem officiis debitis commodi! Voluptatum, voluptatibus! Tempore atque incidunt beatae a veritatis id unde qui tempora in.</p>
            </div>
            <div class="main-section" id="challenges">
                <h1>Herausforderungen</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui deserunt, laboriosam enim id tempore ex nihil repellat voluptatem ullam incidunt perferendis eveniet sint veniam atque! Vel, deleniti nobis officiis eius ab odio commodi laudantium sit, sint dolor molestias reiciendis, tempore earum pariatur dolores similique nulla voluptatum. Natus deserunt id, illum sapiente facilis recusandae ipsum fugit, nam blanditiis, dolorem quas maxime doloribus consequuntur unde voluptates. Doloremque eligendi quaerat aspernatur fuga voluptatum eos expedita itaque nemo, praesentium dolorem sequi error ab asperiores ipsa natus animi accusantium magni. Distinctio in atque nemo, hic reiciendis id quasi nobis, consectetur, qui vitae dolore ipsum.</p>
                <ul>
                    <li>asdf</li>
                    <li>asdf</li>
                    <li>safdsa</li>
                    <li>fslkjlj</li>
                    <li>lkjlkjlj</li>
                    <li>lkjljljljlk</li>
                </ul>
            </div>
            <div class="main-section" id="learnings">
                <h1>Lernziele</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui deserunt, laboriosam enim id tempore ex nihil repellat voluptatem ullam incidunt perferendis eveniet sint veniam atque! Vel, deleniti nobis officiis eius ab odio commodi laudantium sit, sint dolor molestias reiciendis, tempore earum pariatur dolores similique nulla voluptatum. Natus deserunt id, illum sapiente facilis recusandae ipsum fugit, nam blanditiis, dolorem quas maxime doloribus consequuntur unde voluptates. Doloremque eligendi quaerat aspernatur fuga voluptatum eos expedita itaque nemo, praesentium dolorem sequi error ab asperiores ipsa natus animi accusantium magni. Distinctio in atque nemo, hic reiciendis id quasi nobis, consectetur, qui vitae dolore ipsum.</p>
            </div>
        </div>
    </div>