doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  header 
    .container 
      h1= 'Trexx Shirts'

      nav.navbar 
        ul
          li
            a(href="/") Startseite
          li 
            a(href="/customers") Kundenverwaltung

    block content

    