doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  header 
    .container 
      h1= 'Trexx Shirts'

      nav.navbar 
        ul
          li
            a(href="/") 'Index Page'
          li 
            a(href="/users") 'Users Page'
<h1>hi</h1>
    block content

    