extends layout

block content
  h1= title
  p Welcome to #{title}

  p Create new User 

  form(action="/users/create", method="POST")
    input(type="text", name="firstName")
    input(type="text", name="lastName")
    input(type="email", name="email")
    input(type="password", name="password")
 
    button(type="submit") Create