extends layout

block content
  h1= title

  p Daten von Kunde #{title} ändern

  form(action="/customers/update", method="PUT")
    input(type="text", name="firstName")
    input(type="text", name="lastName")
    input(type="email", name="email")
    
 
    button(type="submit") Ändern