extends ../layout 

block scripts
    script(src="/javascripts/new.js" defer)

block content
    
    h1= title 

    .container#wrapper
        form(action="/customers/new", method="post") 
            div(class="form-group")
                label(for="name") Name
                input(type="text", class="form-control", id="name", name="name", placeholder="Name")
                label(for="lastName") Last Name
                input(type="text", class="form-control", id="lastName", name="lastName", placeholder="Last Name")
            div(class="form-group")
                label(for="email") Email
                input(type="email", class="form-control", id="email", name="email", placeholder="example@gmail.com")
            div(class="form-group")
                label(for="birthdate") Birthdate
                input(type="date", class="form-control", id="birthdate", name="birthdate", placeholder="Birthdate")
                label(id="birthdateError")
            div(class="form-group")
                input(type="checkbox", class="form-input", id="subscriptionStatus", name="subscriptionStatus")
                label(for="subscriptionStatus" class="form-check-label") Subscription Status
            button(type="submit" class="btn btn-primary") Änderungen speichern
        