extends ../layout

block content
  h1= customer[0].name

  p Daten von Kunde #{customer[0].name} ändern

  form(action="/customers/edit", method="PUT")
    input(type="text", name="name")
    input(type="text", name="lastName")
    input(type="email", name="email")
    input(type="date", name="birthdate")
    input(type="checkbox", name="subscriptionStatus")
    
 
    button(type="submit") Ändern